footer.footer   
    .container 
        .footer-box
            .footer-about 
                p.footer-about__item (c) 2021. Центр космелогии. Все права защищены.Наши сертификаты на осуществление деятельности.Патенты на использование технологий.
                a.footer-about__item(href="#")  Политика конфиденциальности
            .footer-menu 
                .footer-btn
                    button.footer-button.flex-box__btn
                        ion-icon(name='eye-outline').whitewhite--pad.icons
                        a(href="").white.white--btn Версия для слабовидящих
                .footer-social
                    .footer-messengers.flex-box__btn
                        a.footer-link(href="") 
                            ion-icon(name='logo-vk').lgth-green.icons.icons--vk
                    .footer-messengers.flex-box__btn
                        a.footer-link(href="") 
                            ion-icon(name='logo-youtube').lgth-green.icons.icons--youtube
                    .footer-messengers.flex-box__btn
                        a.footer-link(href="") 
                            ion-icon(name='logo-facebook').lgth-green.icons.icons--facebook
                    .footer-messengers.flex-box__btn
                        a.footer-link(href="") 
                            ion-icon(name='logo-instagram').lgth-green.icons.icons--instagramm