header.header-main 
    .container.flex-container  
        .header-logo__block
                    a.header-logo__top(href="#") 
                        object.header-logo__obj(data="./assets/icons/logo.svg", type="image/svg+xml") 
        nav.header-nav 
            ul.header-ul.d-flex
                li.header-li.flex-box__btn 
                    a.header-link(href="#") +7 (123) 456 78 90
                li.header-li.flex-box.header-li--services
                    .header-salon.flex-box__btn  
                        .header-link.header-link--salon.flex-box Наши салоны 
                        ion-icon(name='caret-down-circle-outline').lgth-green.icons.icons--salon
                    ul.header-content
                        li.header-li--content
                            a(href="#") Ваша информация
                        li.header-li--content
                            a(href="#") Ваша информация
                        li.header-li--content
                            a(href="#") Ваша информация
                        li.header-li--content
                            a(href="#") Ваша информация
                li.header-btn.flex-box 
                    .header-button.flex-box__btn 
                        ion-icon(name='eye-outline').white.white--pad.icons
                        a(href="").white.white--btn Версия для слабовидящих
                li.header-li.flex-box__btn 
                    a.header-link(href="#") 
                        ion-icon(name='logo-vk').lgth-green.icons.icons--vk
                li.header-li.flex-box__btn 
                    a.header-link(href="#") 
                        ion-icon(name='logo-youtube').lgth-green.icons.icons--youtube
                li.header-li.flex-box__btn 
                    a.header-link(href="#") 
                        ion-icon(name='logo-facebook').lgth-green.icons.icons--facebook
                li.header-li.flex-box__btn 
                    a.header-link(href="#") 
                        ion-icon(name='logo-instagram').lgth-green.icons.icons--instagramm
        .header-menu
            button.navbar-toggler(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasNavbar' aria-controls='offcanvasNavbar')
                span.navbar-toggler-icon
                    //- ion-icon(name='eye-outline')
            #offcanvasNavbar.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='offcanvasNavbarLabel')
                .offcanvas-header
                    a#offcanvasNavbarLabel.offcanvas-title.header-logo__top(href="#")  
                        object.header-logo__obj(data="./assets/icons/logo.svg", type="image/svg+xml") 
                    button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
                .offcanvas-body
                    ul.navbar-nav.justify-content-end.flex-grow-1.pe-3
                        li.nav-item
                            a.nav-link.active(aria-current='page' href='#') Your information (Link)
                        li.nav-item
                            a.nav-link(href='#') Your information (Link)
                        li.nav-item.dropdown
                            a#offcanvasNavbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                | Dropdown
                            ul.dropdown-menu(aria-labelledby='offcanvasNavbarDropdown')
                                li
                                    a.dropdown-item(href='#') Action
                                li
                                    a.dropdown-item(href='#') Another action
                                li
                                    hr.dropdown-divider
                                li
                                    a.dropdown-item(href='#') Something else here
                    form.d-flex
                        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
                        button.btn.btn-outline-success(type='submit') Search
    
        
