section.section1-main 
    .container.section1-flex
        .section1-innovation
            .section1-block1 
                button.section1-button Инновации
                p.section1-subtitle Мы практикуем новый курс процедур аппаратной косметологии  
                .section1-next.d-flex
                    .section1-btn 
                        .section1-object_btn
                            object(data="./assets/icons/arrow.svg", type="") 
                        a.section1-about(href="#") Подробнее
            .section1-img 
                img.section1-img_btn(src="./assets/images/innovations__img.png", alt="")
        .section1-estetic 
            .section1-block2 
                button.section1-button.section1-button__block2 Эстетика красоты
                .section1-pretty
                    ul.section1-ul
                        each aboutVar in aboutItems
                            li.section1-box1 
                                h2.section1-number=aboutVar.about
                                p.section1-info=aboutVar.info
                    img.section1-block2_img(src="./assets/images/diploma.png", alt="")
                        