//- // HEADER

//- // MAIN

-var linkItems = [{link: 'cosmetology.html', title: 'Косметология'}, {link: 'plastic.html', title: 'Пластическая хирургия'}, {link: 'dentistry.html', title: 'Стоматология'}, {link: 'laser.html', title: 'Лазерная медицина'}, {link: 'contact.html', title: 'Контакты'}]
-var sliders = [{name: 'Косметология', subtitle: 'Современный мир диктует новые каноны жизни: ухоженное лицо и тело, стройная, подтянутая фигура — сегодня это неотъемлемые черты привлекательной внешности, характеризующие человека благополучного и успешного.', button: 'подробнее'},{name: 'Наши салоны', subtitle: 'Современный мир диктует новые каноны жизни: ухоженное лицо и тело, стройная, подтянутая фигура — сегодня это неотъемлемые черты привлекательной внешности, характеризующие человека благополучного и успешного.', button: 'подробнее'},{name: 'Cтоматология', subtitle: 'Современный мир диктует новые каноны жизни: ухоженное лицо и тело, стройная, подтянутая фигура — сегодня это неотъемлемые черты привлекательной внешности, характеризующие человека благополучного и успешного.', button: 'подробнее'}]

//- ///////////////////////////////

//- // SECTION1

-var aboutItems = [{about: '78', info: 'Современных центра в странах СНГ'}, {about: '78', info: 'Современных центра в странах СНГ'}, {about: '78', info: 'Современных центра в странах СНГ'}, {about: '78', info: 'Современных центра в странах СНГ'}, ]

//- ///////////////////////////////

//- //SECTION2

-var sliderItem = [{title: 'Почему рекомендуется посещать профессионального косметолога. Мнение специалистов центра',txt: 'Процедуры аппаратной косметологии на оборудовании экспертного класса от ведущих мировых производителей могут проводиться в любом возрасте и решать широкий спектр проблем: возрастные изменения, покраснения, акне и купероз, потеря тонуса и упругости кожи, отечность, целлюлит и т. п.', txt2: 'Лазерное и фотоомоложение помогут запустить процесс синтеза собственного коллагена, улучшить светооптические свойства кожи, а также получить максимальный эффект подтяжки лица без уколов и длительного восстановительного периода.', txt3: 'Курс процедур лазерной эпиляции поможет навсегда избавиться от проблемы нежелательных волос.', txt4: 'С помощью инъекционных методик мы можем разгладить морщины, провести объёмное моделирование, увлажнить кожу, ввести активные вещества в поверхностные и средние слои кожи, запустить процессы омоложения.'},{title: 'Стандартизация деятельности клиник в соответствии с ISO 9001:2015.', txt: 'Процедуры аппаратной косметологии на оборудовании экспертного класса от ведущих мировых производителей могут проводиться в любом возрасте и решать широкий спектр проблем: возрастные изменения, покраснения, акне и купероз, потеря тонуса и упругости кожи, отечность, целлюлит и т. п.', txt2: 'Лазерное и фотоомоложение помогут запустить процесс синтеза собственного коллагена, улучшить светооптические свойства кожи, а также получить максимальный эффект подтяжки лица без уколов и длительного восстановительного периода.', txt3: 'МНОГО ИНФОРМАЦИИ', txt4: 'С помощью инъекционных методик мы можем разгладить морщины, провести объёмное моделирование, увлажнить кожу, ввести активные вещества в поверхностные и средние слои кожи, запустить процессы омоложения.'},{title:'Индивидуальный подход к каждому пациенту и подбор оптимальных косметологических методик.', txt: 'Процедуры аппаратной косметологии на оборудовании экспертного класса от ведущих мировых производителей могут проводиться в любом возрасте и решать широкий спектр проблем: возрастные изменения, покраснения, акне и купероз, потеря тонуса и упругости кожи, отечность, целлюлит и т. п.', txt2: 'Лазерное и фотоомоложение помогут запустить процесс синтеза собственного коллагена, улучшить светооптические свойства кожи, а также получить максимальный эффект подтяжки лица без уколов и длительного восстановительного периода.', txt3: 'Курс процедур лазерной эпиляции поможет навсегда избавиться от проблемы нежелательных волос.', txt4: 'МНОГО МНОГО ИНФОРМАЦИИИИ'} ]


//- // SECTION3 

-var hoverItem = [{img: '../../assets/images/actual_img1.png', btn: 'Косметология', txt: 'Лазерное и фотоомоложение', obj: './assets/icons/arrow.svg'},{img: '../../assets/images/actual_img2.png', btn: 'Косметология', txt: 'Лазерное и фотоомоложение', obj: './assets/icons/arrow.svg'}, {img: '../../assets/images/actual_img3.png', btn: 'Косметология', txt: 'Лазерное и фотоомоложение', obj: './assets/icons/arrow.svg'},{img: '../../assets/images/actual_img4.png', btn: 'Косметология', txt: 'Лазерное и фотоомоложение', obj: './assets/icons/arrow.svg'}]

//- //SECTION4 Var

-var boxList = [{txt: 'Услуги', txt2: 'Косметология', txt3: 'Пластическая хирургия', txt4: 'Стоматология', txt5: 'Лазерная медицина'}, {txt: 'Услуги', txt2: 'Косметология', txt3: 'Пластическая хирургия', txt4: 'Стоматология', txt5: 'Лазерная медицина'},{txt: 'Услуги', txt2: 'Косметология', txt3: 'Пластическая хирургия', txt4: 'Стоматология', txt5: 'Лазерная медицина'},{txt: 'Услуги', txt2: 'Косметология', txt3: 'Пластическая хирургия', txt4: 'Стоматология', txt5: 'Лазерная медицина'}]