.header {
  &-li {
    min-height: 90px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      border-right: 1px solid $lightGreen;
      border-left: 1px solid $lightGreen;
    }
  }
  &-logo {
    &__top {
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    &__obj {
      position: relative;
      z-index: -1;
    }
  }
  &-btn {
    padding: $pad;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      border-right: 1px solid $lightGreen;
      border-left: 1px solid $lightGreen;
    }
    &:hover .header-button {
      background-color: $lightGreen;
      transition: all 0.3s ease;
    }
  }

  &-link {
    padding: 30px;
    display: inline-block;
    font-size: $smS16;
    line-height: $lhsm19;
    font-weight: 500;
    color: $black;
    &--salon {
      padding-right: 15px;
    }
    &:hover {
      color: $black;
    }
  }
  &-salon > .icons--salon {
    margin-right: 15px;
  }
  &-button {
    padding: 0px;
    border: none;
    background-color: $darkGreen;
    min-height: 40px;
    cursor: pointer;
  }
  &-li > :hover .icons--vk {
    color: blue;
    transition: all 0.3s ease;
  }
  &-li > :hover .icons--youtube {
    color: red;
    transition: all 0.3s ease;
  }
  &-li > :hover .icons--facebook {
    color: blue;
    transition: all 0.3s ease;
  }
  &-li > :hover .icons--instagramm {
    color: red;
    transition: all 0.3s ease;
  }
  &-li {
    &--services {
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover > .header-content {
        display: block;
        z-index: 5;
      }
      &:hover .icons--salon {
        transform: rotate(-180deg);
        transition: all 0.3s ease;
      }
    }
  }
  &-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $white;
    min-width: 240px;
    padding: 5px;
    display: none;
    & > .header-li--content:last-child {
      border-bottom: none;
    }
  }
  &-content > .header-li--content {
    border-bottom: 1px solid gray;
    padding: 7px 0px;
    text-align: start;
    color: $black;
    font-size: $smS16;
    line-height: $lhsm19;
    font-weight: 500;
    & > a {
      color: black;
      padding: 0px 15px;
      &:hover {
        color: $darkGreen;
      }
    }
  }
}

// border: 1px solid transparent;
//     &:hover {
//       border-right: 1px solid gray;
//       border-left: 1px solid gray;
