//font and lh
$litl: 12px;
$sm: 14px;
$smS16: 16px;
$md18: 18px;
$md21: 21px;
$md24: 24px;
$md28: 28px;
$md30: 30px;
$lg48: 48px;
$lg96: 96px;
//
$lhsm15: 15px;
$lhsm17: 17px;
$lhsm19: 19px;
$lhsm21: 21px;
$lhmd24: 24px;
$lhmd27: 27px;
$lhmd31: 31px;
$lhmd36: 36px;
$lh150: 150%;

// padding margin ;

$gap: 25px 0px;
$gap2: 0px 15px;
$pad: 30px 15px;
$pad30: 30px;
//colors
$lightGreen: #4fbfa5;
$darkGreen: #00868a;
$black: black;
$white: white;
