@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
// @import "./reset";
@import "./var";
@import "./header";
@import "./main";
@import "./section1";
@import "./section2";
@import "./section3";
@import "./section4";
@import "./footer";
@import "./bootstrapNewClasses/main";

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
}
body {
  padding-right: 0 !important;
  overflow: inherit;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
  }
}
ul,
li {
  list-style: none;
}

.main-wrap {
  min-height: calc(100vh - 90px);
}
::-webkit-scrollbar {
  width: 12px;
  &-track-piece {
    background: rgb(222, 247, 222);
    border: 1px solid gray;
  }
  &-thumb {
    background: rgb(70, 95, 107);
    border-radius: 50px;
    border: 1px solid gray;
  }
  &-button {
    background: rgb(180, 208, 245);
    border: 1px solid gray;
  }
  // &-button {
  //   background: $darkGreen;
  // }
}

// Containers mixin

@mixin container($width) {
  max-width: $width;
  width: auto;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.container {
  @include container(1295px);
}

//flex-container
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.d-flex {
  display: flex;
}
.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.flex-box__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.section1-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
// keyframes
@keyframes button {
  0% {
    left: -2%;
    background-color: $darkGreen;
  }
  100% {
    left: 5%;
    background-color: $lightGreen;
  }
}
@keyframes slider {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

// Media ///////////////////////

@media screen and (max-width: 1400px) {
  // header///////////////////////

  .header {
    &-menu {
      display: block;
    }
    &-nav {
      display: none;
    }
  }
  .dropdown {
    display: flex;
    justify-content: space-between;
  }
  // main ///////////////////

  .main {
    &-navigation {
      display: none;
    }
  }
}

@media screen and (max-width: 1200px) {
  // SECTION 2 //////////////////////////

  .section2 {
    &-slider {
      justify-content: center;
    }
    &-dots {
      justify-content: center;
      flex-direction: initial;
      &__item {
        opacity: 1;
      }
    }
    &-news {
      display: none;
    }
  }

  ////////////// SECTION 4 ///////////////
  .section4 {
    padding-top: 40px;
    padding-bottom: 40px;
    &-ul {
      justify-content: center;
      gap: 20px;
    }
    &-list {
      &:nth-child(3),
      &:last-child {
        display: none;
      }
    }
    &-box2 {
      padding-top: 20px;
      &__item {
        &:nth-child(2) {
          font-size: 16px;
          opacity: 1;
        }
      }
    }
  }
  .flex-box {
    gap: 20px;
    flex-wrap: wrap;
  }
}
/////////////////////////////////

@media screen and (max-width: 992px) {
  // MAIN SECTION////////////////////

  .flex-main {
    justify-content: center;
  }
  .main-picture {
    border-radius: 8px;
  }
  // SECTION - 1 /////////////////////

  .section1 {
    &-main {
      padding-top: 40px;
    }
    &-innovation,
    &-estetic {
      width: auto;
    }
    &-innovation {
      margin-bottom: 40px;
    }
    &-subtitle {
      font-size: 20px;
    }
    &-button {
      margin: 25px 25px 20px 20px;
    }
    &-block1 {
      min-height: auto;
      padding-bottom: 20px;
    }
    &-flex {
      justify-content: space-around;
    }
    &-box1 {
      margin: 15px 0;
      & p {
        font-size: 16px;
        font-weight: bold;
        opacity: 1;
      }
      & h2 {
        font-size: 24px;
        font-weight: bold;
        color: $darkGreen;
        opacity: 1;
      }
    }
  }
  .section1 {
    &-block2 {
      margin-bottom: 40px;
      &_img {
        width: 200px;
        height: 250px;
      }
    }
    &-pretty {
      justify-content: center;
      align-items: center;
    }
  }

  // SECTION - 2 /////////////////////////

  .section2 {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  // SECTION 2 /////////////////////

  .section2 {
    &-dots {
      display: none;
    }
    &-dotsMedia {
      display: block;
      margin-bottom: 10px;
      &__item {
        width: 100%;
        background-color: #4fbfa5;
        font-weight: 500;
        font-size: 16px;
        min-height: 50px;
        color: white;
        border: none;
        text-align: left;
        margin-bottom: 3px;
        box-shadow: 5px 4px 3px $darkGreen;
        border-radius: 0px 8px 0 8px;
      }
    }
  }

  // SECTION 3 //////////

  .section3 {
    &-list {
      transform: none;
    }
  }
}

////////////////////////////////////////

@media screen and (max-width: 576px) {
  // HEADER section  /////////////////////

  .header {
    &-logo {
      &__obj {
        width: 150px;
      }
    }
  }

  // MAIN section //////////////////

  .btn {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
  }
  .main {
    &-slider__button {
      width: 150px;
      height: 50px;
    }
    &-title {
      font-size: 42px;
      padding-bottom: 10px;
    }
    &-subtitle {
      padding-bottom: 20px;
    }
  }
  .dot {
    &-second,
    &-third {
      max-width: 80px;
      font-size: $sm;
      line-height: $lh150;
    }
    &-first {
      max-width: 160px;
      font-size: $sm;
      line-height: $lh150;
      border-radius: 8px 0px 0px 8px;
    }
    &-third {
      border-radius: 0px 8px 8px 0px;
    }
  }

  ///// SECTION 1 /////

  .section1 {
    &-block2 {
      margin-bottom: 40px;
      &_img {
        width: 150px;
        height: 200px;
      }
    }
  }

  // FOOOTER ////////////

  .footer {
    &-menu {
      flex-wrap: wrap;
    }
    &-about {
      gap: 20px;
    }
  }
}

// Var selectors

.black {
  color: $black;
}
.white {
  color: $white;
  &--pad {
    margin-left: 10px;
    margin-right: 10px;
  }
  &--btn {
    text-transform: uppercase;
    margin-right: 10px;
    font-size: $sm;
    line-height: $lhsm17;
  }
}
.lgth-green {
  color: $lightGreen;
}
.dark-Green {
  background-color: $darkGreen;
}
.light-Green {
  background-color: $lightGreen;
}
.icons {
  font-size: 25px;
}
.red {
  color: red;
}
